<div class="post-end" id="contact-us"> 
  <div class="row justify-content-center"> 
    <div class="col-xl-4 col-12 align-self-center"> 
      <span class="h3">Start Saving Today</span> 
    </div> 
    <div class="col-xl-8 col-12 align-self-center"> 
      <a href="tel:206-202-2633" class="full-inner-slab-button ser_left_a">
        <span class="text">206-202-9516</span>
        <span class="icon_circle">
          <span class="fas fa-phone"></span>
        </span>
      </a> 
      <span class="or">OR</span> 
      <a data-toggle="collapse" href="#collapseForm" aria-expanded="false" role="button" aria-controls="collapseForm" class="full-inner-slab-button ser_right_a">
        <span class="text">Send Us a Message</span>
        <span class="icon_circle">
          <span class="fas fa-arrow-right close-arrow"></span>
        </span>
      </a> 
    </div> 
  </div> 
  <div class="ser_collapse collapse form-wrapper" id="collapseForm"> 
    <div class="form-message">
      {%include 'about-contact'%}
    </div> 
  </div> 
</div>