<div class="image-wrapper"> 
  <a class="google-review-badge" href="https://www.google.com/search?q=greenwood+heating+and+air+conditioning+reviews&amp;rlz=1C5CHFA_enCA855CA855&amp;oq=greenwood+heating+and+air+conditioning&amp;aqs=chrome.0.0j69i57j0l3j69i60l3.6615j0j7&amp;sourceid=chrome&amp;ie=UTF-8#lrd=0x54906a83087fc9b1:0x873f03f33f7aaca9,1,,," target="_blank">
    <img src="https://cdn.shopify.com/s/files/1/0576/0965/0366/files/google-revieww.png?v=1625145199" alt="Google Reviews" class="google_img" >
  </a> 
  <img src="https://cdn.shopify.com/s/files/1/0576/0965/0366/files/testimonial-family.png" alt="Testimonial Family" class="testimonial-family"> 
</div>