<div class="page_content_wrpper">
   <div class="page_header_warp">
        <div class="container">
            <div class="row">
              <div class="col">
  <h1 class="page_title">{{ 'general.404.title' | t }}</h1>
              </div>
            </div>
        </div>
   </div>

   <div class="row full_height">
        <div class="container">
            <div class="row" style="justify-content:center;">
              
  <p>
    <br><br><strong>{{ 'general.404.subtext_html' | t }}</strong></p>
  
            </div>
          <div class="row" style="justify-content:center;">
  <p>
    <br><br>
    <a href="{{ routes.root_url }}" class="btn">{{ 'general.404.404_link' | t }}</a>
  </p>
            </div>
        </div>
  </div>

</div>

<div class="mm_0">
{% section 'sk_services_solutions' %}
</div>


