{% comment %}
  The contents of the cart.liquid template can be found in /sections/cart-template.liquid
{% endcomment %}
<div class="mobile_only">
  <section class="breadcrumb_wrap">
    <div class="container">
        <div class="row">
            <div class="col">
                <ul class="breadcrumb_text">
                    <li>Shopping Cart /</li>
                </ul>
            </div>
        </div>
    </div>
</section>
</div>
<div class="yellow_border mobile_only"></div>
{% section 'sk_cart_template' %}
{% section 'sk_cart_popup' %}

{% section 'sk_product_form' %}
