{%comment%}
<div class="page-width full_page_width">
  <h1 class="small--text-center">{{ page.title }}</h1>
  <div class="content-block">
    <div class="rte rte--indented-images">
      {{ page.content }}
    </div>
  </div>

  {% section 'featured-products-subsection' %}
</div>
{%endcomment%}
{% section 'about-us-hero' %}

<section class="club-membership-plan">
  <div class="container">

      
<div class="snip1214">
  <div class="plan">
    <h3 class="plan-title">
      Bronze
    </h3>
    <div class="plan-cost"><span class="plan-price">$326</span><span class="plan-type"></span></div>
    <ul class="plan-features">
      <li><i class="ion-checkmark"> </i>Maintain manufacturer warranty</li>
      <li><i class="ion-checkmark"> </i>Service Reminders</li>
      <li><i class="ion-checkmark"> </i>Priority Service</li>
      <li><i class="ion-checkmark"> </i>Extended warranty on repairs</li>
      <li><i class="ion-checkmark"> </i>Inflation protection (1 years)</li>
      <li><i class="ion-checkmark"> </i>10% Savings on repairs and system upgrades</li>
      <li><i class="ion-checkmark"> </i>1 unit  included in maintenance visit </li>
      <li><i class="ion-checkmark"> </i>Complementary  1" standrad filter</li>
    </ul>
    <div class="plan-select"><a href="/products/bronze">Select Plan</a></div>
  </div>
  <div class="plan">
    <h3 class="plan-title">
      Silver
    </h3>
    <div class="plan-cost"><span class="plan-price">$45.50</span><span class="plan-type">/ Monthly</span></div>
     <ul class="plan-features">
      <li><i class="ion-checkmark"> </i>Maintain manufacturer warranty</li>
      <li><i class="ion-checkmark"> </i>Service Reminders</li>
      <li><i class="ion-checkmark"> </i>24 Hour Priority Service</li>
      <li><i class="ion-checkmark"> </i>Extended warranty on repairs</li>
      <li><i class="ion-checkmark"> </i>Inflation protection (1 years)</li>
      <li><i class="ion-checkmark"> </i>15% Savings on repairs and system upgrades</li>
      <li><i class="ion-checkmark"> </i>1 unit  included in maintenance visit </li>
      <li><i class="ion-checkmark"> </i>Complementary  MERV 13 high efficiency filter</li>
      <li><i class="ion-checkmark"> </i>Diagnostic fee discount: $15 off</li>
      <li><i class="ion-checkmark"> </i>$25/Year Annual credit towards new equipment</li>            
    </ul>
    <div class="plan-select"><a href="/products/silver">Select Plan</a></div>
  </div>
  <div class="plan featured">
    <h3 class="plan-title">
      Gold
    </h3>
    <div class="plan-cost"><span class="plan-price">$62.50</span><span class="plan-type">/ Monthly</span></div>
    <ul class="plan-features">
      <li><i class="ion-checkmark"> </i>Maintain manufacturer warranty</li>
      <li><i class="ion-checkmark"> </i>Service Reminders</li>
      <li><i class="ion-checkmark"> </i>24 Hour Priority Service</li>
      <li><i class="ion-checkmark"> </i>Extended warranty on repairs</li>
      <li><i class="ion-checkmark"> </i>Inflation protection (2 years)</li>
      <li><i class="ion-checkmark"> </i>20% Savings on repairs and system upgrades</li>
      <li><i class="ion-checkmark"> </i>2 units  included in maintenance visit </li>
      <li><i class="ion-checkmark"> </i>Complementary  MERV 13 high efficiency filter</li>
      <li><i class="ion-checkmark"> </i>Overtime up-charge fees waived</li>
      <li><i class="ion-checkmark"> </i>Diagnostic fee discount: $25 off</li>
      <li><i class="ion-checkmark"> </i>$50/Year Annual credit towards new equipment OR  5% discount on new equipment</li>
    </ul>
    <div class="plan-select"><a href="/products/gold">Select Plan</a></div>
  </div>
  <div class="plan">
    <h3 class="plan-title">
      Green
    </h3>
    <div class="plan-cost"><span class="plan-price">$104</span><span class="plan-type">/ Monthly</span></div>
    <ul class="plan-features">
      <li><i class="ion-checkmark"> </i>Maintain manufacturer warranty</li>
      <li><i class="ion-checkmark"> </i>Service Reminders</li>
      <li><i class="ion-checkmark"> </i>Same Day Service</li>
      <li><i class="ion-checkmark"> </i>Extended warranty on repairs</li>
      <li><i class="ion-checkmark"> </i>Inflation protection (3 years)</li>
      <li><i class="ion-checkmark"> </i>25% Savings on repairs and system upgrades</li>
      <li><i class="ion-checkmark"> </i>3 units  included in maintenance visit </li>
      <li><i class="ion-checkmark"> </i>Complementary  MERV 13 high efficiency filter</li>
      <li><i class="ion-checkmark"> </i>Overtime up-charge fees waived</li>
      <li><i class="ion-checkmark"> </i>Diagnostic fee discount: $25 off</li>
      <li><i class="ion-checkmark"> </i>$100/Year Annual credit towards new equipment OR  5% discount on new equipment</li>
    </ul>
    <div class="plan-select"><a href="/products/green">Select Plan</a></div>
  </div>
</div>
    
    
  </div>

</section>
      
      
<div class="container">
  <div class="rte club_table_rte">
    {{ page.content }}
     Price subject to verification of proper equipment and work is in our service area.
  </div>
</div>

