{%comment%}
<div class="page-width full_page_width">
  <h1 class="small--text-center">{{ page.title }}</h1>
  <div class="content-block">
    <div class="rte rte--indented-images">
      {{ page.content }}
    </div>
  </div>

  {% section 'featured-products-subsection' %}
</div>
{%endcomment%}
{% section 'about-us-hero' %}
{% section 'gas-boilers-text' %}
{% section 'gas_boilers_featured' %}
{% section 'about-us-guarante' %}
{% section 'common_collection' %}
{% section 'cmm_cooling_special' %}
{% section 'cmm_testimonial' %}
{% section 'cmm_brand' %}