{%comment%}
<div class="page-width full_page_width">
  <h1 class="small--text-center">{{ page.title }}</h1>
  <div class="content-block">
    <div class="rte rte--indented-images">
      {{ page.content }}
    </div>
  </div>

  {% section 'featured-products-subsection' %}
</div>
{%endcomment%}
{% section 'furnace-installations-banner' %}
{% section 'ac-installations-tabs' %}
{% section 'furnace_installations_featured' %}
{% section 'cmm_brand' %}