<div class="mobile_only">
  {% section 'sk_product_breadcrumb' %}
</div>
{% section 'sk_product_hero' %}
{% section 'sk_warranty' %}
<div class="desktop_only">
{% section 'sk_product_breadcrumb' %}
</div>
{% section 'sk_aircondition_slider' %}
{% section 'sk_furnaces_slider' %}
{% section 'sk_ductless_slider' %}
{% section 'sk_heat_pumps_slider' %}
<div class="margin-bottom-0">
  {% section 'sk_financing_options' %}
</div>
{% section 'sk_sticky_form' %}