<div class="page_content_wrpper">
    {% section 'sk_purchase_hero' %}
    <div class="page_content_wrap purchase">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-12">
                    {% section 'sk_purchase_content' %}
                </div>
                <div class="col-lg-4 col-md-12">
                   <div class="sk_sidebar">
                    {% section 'sk_top_promotion' %}
                    {% section 'sk_sidebar_form' %}
                    {% section 'sk_sidebar_review' %}
                    {% section 'sk_sidebar_finance' %}
                   </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="yellow_border tab_mobile_only"></div>
{% section 'sk_services_solutions' %}
<div class="tab_mobile_only py-50">
  {% section 'sk_financing_options' %}
</div>
<div class="tab_mobile_only padding_top_0">
  {% section 'sk_home_testimonial' %}
</div>

