{% section 'sk_contact_map' %}
<div class="contact_pg">
  {% section 'sk_product_form' %}
</div>
<div class="yellow_border mobile_only hide_mobile"></div>
<div class="contact-pag">
{% section 'sk_services_solutions' %}
</div>
<div class="contact_sp_te">
{% section 'sk_specialist' %}
{% section 'sk_home_testimonial' %}
</div>
